---
---
// Custom CSS
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

body {
  font-family: 'Quicksand', sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
.navbar-toggler {
  padding-left: 0;
  padding-right: 0;
  border: none;
}
@media (max-width: 320px) {
  .navbar-brand {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  #project-cards {
    column-gap: 3rem;
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
  }
  #project-cards .card {
    margin-bottom: 3rem;
  }
}
#project-cards .card-img-overlay {
  display: flex;
  background-color: rgba(0,0,0, 0.75);
  opacity: 0;
  transition: opacity 0.5s ease;
}
#project-cards .card-img-overlay:hover {
  opacity: 1;
}
#project-cards .card-img-overlay .card-title {
  font-size: 2.5rem;
  margin: auto;
  color: #fff;
}
@media (min-width: 576px) {
  #project-cards .card-img-overlay {
    padding: .75rem;
  }
  #project-cards .card-img-overlay .card-title {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  #project-cards .card-img-overlay {
    padding: 1rem;
  }
  #project-cards .card-img-overlay .card-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  #project-cards .card-img-overlay .card-title {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  #project-cards .card-img-overlay {
    padding: 1.25rem;
  }
  #project-cards .card-img-overlay .card-title {
    font-size: 2.5rem;
  }
}
#work-samples .card {
  margin-bottom: 2rem;
}
.post img {
  max-width: 100%;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.post ul li {
  margin-bottom: 1rem;
}
.post h1, .post h2 {
  text-align: center;
}
.post h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.post h3 {

}
